.gym-unit-info__container {
  background-color: var(--light-grey);
  border-radius: 6px;
  padding: 1rem;
  min-width: 30%;
}

.gym-unit-info__isOpen {
  color: var(--green);
}

.gym-unit-info__isClosed {
  color: var(--red);
}

.gym-unit-info__isOpen , .gym-unit-info__isClosed {
  font-weight: bolder;
  margin-bottom: 1rem;
}

.gym-unit-info__title {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}

.gym-unit-info__location {
  color: var(--dark-grey);
}

.gym-unit-info__options {
  border-top: 1px solid var(--dark-grey);
  margin-top: 1rem;
}

.gym-unit-info__schedules {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.gym-unit-info__schedules__weekdays {
  flex: 50%;
  margin-bottom: 1rem;
  & h4 {
    font-size: 1.3rem;
  }
}