.header--background--black {
  background-color: #000;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.header__logo {
  width: 200px;
}

.header__title {
  font-size: 3rem;
  /* text-transform: uppercase; */
  width: 400px;
  letter-spacing: 0.1rem;
  margin-top: 4rem;
}

.header__title::after {
  content: "";
  display: block;
  width: 130px;
  height: 10px;
  background-color: #000;
  margin: 20px 0;
}

.header__description {
  letter-spacing: 0.1rem;
  margin-top: 40px;
}
