.footer__container {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.footer__container > img {
  width: 10rem;
  margin-bottom: 1.5rem;
}

.footer__container > h4 {
  color: #fff;
}
