.outfit-items__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
}

.outfit-items__infos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.outfit-items__infos > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.outfit-items__imgs {
  width: 4rem;
  margin-bottom: 0.6rem;
}