:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-grey: #333333;
  --light-grey: #808080;
  --yellow: #FFB612;
  --red: #dc0a17;
  --green: #2FC022;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__container {
  width: 60%;
  margin: 0 auto;
}

input {
  margin-right: 6px;
}